<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/stylenotsucess.css">
    <link rel="shortcut icon" href="icon/erro-404.png" type="image/x-icon">
    <title>To do list - Erro</title>

</head>
<body >
    <div class="container">
        <div class="form-image">
            <div id="letter1">
                <h1 >Oops!</h1>
                <h3>Acredito que ocorreu um erro: <a style="color: #ff725e;"><%=erro %></a> </h3>
            </div>
            <img id="imgmain" src="Assets/404-error-with-people-holding-the-numbers-animate.svg" alt="">
            <div id="letter2"><p>Por favor, retorne ao menu principal.<a href="/">Clique aqui</a></p></div>
        </div>
    </div>

</body>
</html>